@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300);

body {
    background: #c2e59c;
    /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to left, #c2e59c, #64b3f4);*/
    background: -webkit-linear-gradient(to left, #dcfaf8, #fff8eb);

    /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to left, #c2e59c, #64b3f4);*/
    background: linear-gradient(to left, #dcfaf8, #fff8eb);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: #666;
    font-family: 'Roboto Condensed', sans-serif;
}


table {
    transition: all 0.2s ease;
    background: #fff;
    padding: 20px;
}

.userDetailTable {
    position: relative;
    left: 180px;
    top: 100px;

}


.name {
    font-size: 30px;
    border-bottom: 2px solid #888;
    margin-bottom: 20px;
}



.label {
    width: 155px;
    font-weight: bold;
}

.label {
    display: inline-block;
}

.details-td {
    border-right: 1px solid #eee;
    white-space: nowrap;

    padding: 20px;
    padding-right: 30px;
}

.description-td {
    position: relative;
    width: 100%;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
    margin-top: 15px;
}

.description {
    outline: 0px solid transparent;
    border: 0px solid transparent;
}

.edit {
    position: relative;
    left: 10px;

    width: 13px;
    height: 13px;

    cursor: pointer;
}

.update {
    display: none;
    position: absolute;
    right: 20px;
    bottom: 0;
    background: #c2e59c;
    border: 0;
    padding: 5px;
    width: 80px;
    color: #333;
    outline: 0px solid transparent;
    border: 0px solid transparent;
}

.sidebar {
    width: 184px;
    height: 1000px;
    position: relative;
    color: white;
    border: 1px solid #dee6ff;
}

.sidebar-item {
    margin-bottom: 5px;
}

.editForm {
    position: relative;
    left: 470px;
    top: 100px;
}

.editFormPersonalInfo {
    position: relative;
    left: 470px;


}

.deleteEmpButton {
    position: absolute;
    bottom: 80px;
    right: 245px;
}

.lineHeightAdditional {
    line-height: 0.001px;
}

.divFields {
    display: inline-block;
}